@use '@/assets/styles/variables' as *;

.container {
  width: 31rem;
  height: 11rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 0.6rem;

  @include background(1rem, var(--secondary-background-color), blur(145px));

  &--days {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
  }
}
