@use '@/assets/styles/variables' as *;

.container {
  // width: 31rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 1rem;
  text-align: center;
  @include background(1rem, var(--secondary-background-color), blur(145px));

  &--days {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.2rem;
  }
}
