@use '@/assets/styles/variables' as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  padding: 1rem;
  border: 0.03rem solid rgb(255 255 255 / 0%);
  border-radius: 1rem;
  background: rgb(255 255 255 / 10%);
  backdrop-filter: blur(145px);

  p {
    @include font(1rem, normal, 0.51px);
  }
}
