.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  font-weight: 500;

  span:nth-child(3) {
    color: var(--precipitation-color);
  }
}
