@use '@/assets/styles/variables' as *;

.container {
  width: 9rem;
  height: 9.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  border: 0.04rem solid rgb(255 255 255 / 25%);

  @include background(1rem, var(--secondary-background-color), blur(145px));

  &--title {
    display: flex;
    align-items: center;
    opacity: 0.6;
  }

  span {
    text-align: center;
    @include font(2.3rem, normal, 0.02rem);
  }
}
