.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 500;

  &--days,
  &--weather,
  &--precipitation {
    display: flex;
    align-items: center;
  }

  &--precipitation {
    flex-direction: column;
    p {
      color: var(--precipitation-color);
    }
  }

  &--days {
    gap: 0.5rem;
  }

  &--weather p {
    width: 2rem;
    text-align: center;
  }
}
