@use '@/assets/styles/variables' as *;

.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.25rem;

  @include media-desktop {
    width: 65%;
  }

  &--background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    object-fit: cover;
  }

  &--lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  &--days {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
}
