:root {
  --primary-color: #424242;
  --secondary-color: #fff;
  --precipitation-color: #23abf6;
  --primary-background-color: rgb(2 87 147 / 57%);
  --secondary-background-color: rgb(255 255 255 / 10%);
}
